@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");

/* --------------------------------------------------------------------------------------------------------- */
/* GENERAL ASPECTS */
/* --------------------------------------------------------------------------------------------------------- */

:root {
  /* Colors */
  --background-black: #000;
  --text-color: #fff;
  --pink: #d758eb;
  --orange: #f27d0b;
  --gray: #3f3d3d;
  /* Border */
  --border-radius: 1.3rem;
  --tittles-size: 4.2rem;
  --p-size: 1.4rem;
  --p-weight: 300;
  --background-opacity: #d9d9d910;
}

/* Restablecer márgenes, rellenos y modelo de caja para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background: var(--background-black);
  overflow-x: hidden;
}

section {
  padding: 5rem 1rem;
}

h2 {
  color: var(--text-color);
  font-size: var(--tittles-size);
}

.gap {
  margin: 0 20px;
}

.span-orange {
  font-style: italic;
  color: var(--orange);
  font-weight: 700;
}

.span-pink {
  font-style: italic;
  color: var(--pink);
  font-weight: 7 00;
}

.orange {
  color: var(--orange);
}

.pink {
  color: var(--pink);
}

/* --------------------------------------------------------------------------------------------------------- */
/* #header STYES */
/* --------------------------------------------------------------------------------------------------------- */

#header {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  position: relative;
  z-index: 1;

  & nav ul li {
    & a.nav-link {
      color: var(--text-color);
      position: relative;
      z-index: 80;
      margin: 0 10px;
    }

    & a:hover {
      color: var(--orange) !important;
    }
  }

  & .home-hero {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .my-hero {
    padding: 13% 0;
    color: var(--text-color);
    margin: 0 auto;
    text-align: center;

    & h2 {
      font-weight: 300;
    }

    & #name {
      padding: 15px 0;
      background: linear-gradient(
        90deg,
        #ef7322 9.98%,
        #d714f5 25.54%,
        #ea604c 40.97%,
        #d714f5 55.18%,
        #f27d0b 72.75%,
        #d714f5 84.42%
      );
      background-clip: text;
      font-size: 7rem;
      font-weight: 600;
      -webkit-background-clip: text;
      /* aplicamos los estilos para el clip en el text */
      -webkit-text-fill-color: transparent;
      /* Le decimos que el color del text va a ser transparente */
      text-transform: uppercase;
    }

    & h1 {
      font-size: 2rem;
      color: var(--text-color);
      font-weight: 300;
      margin-bottom: 5rem;

      & span {
        color: var(--orange);
      }
    }

    & a {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 3rem;
      padding: 20px 100px;
      color: var(--text-color);
      border: none;
      text-decoration: none;
      border-radius: var(--border-radius);
      background: linear-gradient(
        270deg,
        #310e36 0.09%,
        rgba(242, 125, 11, 0.49) 99.87%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      transition: all 0.5s ease;
    }

    & a:hover {
      transform: scale(0.9);
      cursor: pointer;
      box-shadow: 0 0 0 6px var(--background-opacity);
      background: linear-gradient(
        270deg,
        #310e36 0.09%,
        rgba(242, 125, 11, 0.6) 99.87%
      );
    }
  }
}

#header::before {
  content: "";
  height: 1000px;
  width: 1000px;
  background: url(../img/back-blur.png);
  background-size: cover;
  position: absolute;
  z-index: -10;
  left: -300px;
  top: -60px;
  animation: rotate infinite 50s ease-in-out;
  border-radius: inherit;
}

@keyframes rotate {
  0% {
    transform: scale(1.3) translate(0) rotate(0deg) perspective(10px);
    border-radius: 150% 60% 80% 100%;
  }

  20% {
    transform: scale(1.15) translate(30%, 50px) rotate(60deg)
      perspective(1000px);
    border-radius: 73% 100% 82% 51%;
  }

  40% {
    transform: scale(1) translate(60%, -200px) rotate(90deg);
    border-radius: 50% 60% 80% 51%;
  }

  60% {
    transform: scale(0.8) translate(90%, -150px) rotate(150deg);
    border-radius: 100% 55% 90% 61%;
  }

  80% {
    transform: scale(1) translate(60%, -100px) rotate(200deg);
    border-radius: 50% 60% 80% 51%;
  }

  100% {
    transform: scale(1.5) translate(0) rotate(0deg);
    border-radius: 50% 60% 80% 51%;
  }
}

.navbar-brand svg path {
  fill: var(--text-color);
  transition: fill 0.3s;
}

.navbar-brand:hover path {
  fill: #ffa500;
}

/* --------------------------------------------------------------------------------------------------------- */
/* TECHNOLOGIES SECTION */
/* --------------------------------------------------------------------------------------------------------- */

/* todo technologies section  */
#technologies {
  /* nesting */
  padding-bottom: 5rem;
  & h2 {
    color: var(--pink);
    text-align: center;
    margin-bottom: 5rem;
    background: linear-gradient(
      -200deg,
      #ef7322 9.98%,
      #d714f5 25.54%,
      #ea604c 40.97%,
      #d714f5 55.18%,
      #f27d0b 72.75%,
      #d714f5 84.42%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

& .my-row {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 2vw 5vw;
  place-items: center;

  & .card-tech-container {
    display: flex;
    place-items: center;

    & .tech-card {
      background: var(--background-opacity);
      border-radius: var(--border-radius);
      padding: 1rem;
      text-align: center;
      color: var(--text-color);
      margin: 0 auto;

      & img {
        display: block;
        margin: 0 auto 1rem auto;
      }
    }
  }
}

/* --------------------------------------------------------------------------------------------------------- */
/* Know me section */
/* --------------------------------------------------------------------------------------------------------- */

#know-me {
  padding: 2rem;
  color: var(--text-color);
  position: relative;

  & .know-me-area {
    padding: 2rem;
  }

  & h2 {
    margin-bottom: 1.8rem;
    color: var(--pink);
    background: linear-gradient(
      90deg,
      #ef7322 9.98%,
      #d714f5 25.54%,
      #ea604c 40.97%,
      #d714f5 55.18%,
      #f27d0b 72.75%,
      #d714f5 84.42%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & span {
    color: var(--orange);
  }
}

& p {
  font-size: var(--p-size);
  font-weight: var(--p-weight);
  width: 80%;
  word-wrap: break-word;
}

& .know-me-avatar {
  position: relative;
  z-index: 100;
}

#know-me::before {
  content: "";
  height: 1000px;
  width: 1000px;
  background: url(../img/back-blur.png);
  background-size: cover;
  transform: rotate(50deg);
  position: absolute;
  z-index: -10;
  right: -215px;
  top: 0;
  animation: rotate-reverse infinite 50s ease-in-out;
}

@keyframes rotate-reverse {
  0% {
    transform: scale(1.3) translate(0) rotate(0deg);
    border-radius: 150% 60% 80% 100%;
  }

  20% {
    transform: scale(1.15) translate(-30%, 50px) rotate(60deg);
    border-radius: 73% 100% 82% 51%;
  }

  40% {
    transform: scale(1) translate(-60%, -200px) rotate(90deg);
    border-radius: 50% 60% 80% 51%;
  }

  60% {
    transform: scale(0.8) translate(-90%, -150px) rotate(150deg);
    border-radius: 100% 55% 90% 61%;
  }

  80% {
    transform: scale(1) translate(-60%, -100px) rotate(200deg);
    border-radius: 50% 60% 80% 51%;
  }

  100% {
    transform: scale(1.5) translate(0) rotate(0deg);
    border-radius: 50% 60% 80% 51%;
  }
}

/* --------------------------------------------------------------------------------------------------------- */
/* PROJECTS SECTION */
/* --------------------------------------------------------------------------------------------------------- */

#projects {
  padding: 5rem;

  & .card-project {
    background-color: #000;
    padding: 0.4rem;
    text-align: left;
    border-radius: var(--border-radius);
    background: linear-gradient(
      203deg,
      #d714f5 15.19%,
      #f27d0b 30.3%,
      #d714f5 44.48%,
      #f27d0b 58.56%,
      #d714f5 73.77%,
      #f27d0b 90.83%
    );
    border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    & .card-project-content {
      background: var(--background-black);
      width: 100%;
      height: 100%;
      border-radius: inherit;
      padding: 2rem;
      margin: 0;

      & a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      & h2 {
        font-size: 3rem;
        margin-bottom: 3rem;

        & span {
          background: linear-gradient(
            90deg,
            #ef7322 9.98%,
            #d714f5 25.54%,
            #ea604c 40.97%,
            #d714f5 55.18%,
            #f27d0b 72.75%,
            #d714f5 84.42%
          );
          background-clip: text;
          -webkit-background-clip: text;
          /* aplicamos los estilos para el clip en el text */
          -webkit-text-fill-color: transparent;
        }
      }

      & p {
        color: var(--text-color);
        word-wrap: break-word;
        opacity: 0.7;
      }
    }
  }

  & #cards {
    & .project-list {
      display: flex;
      overflow-x: scroll;
      padding: 2rem;

      & .my-project-card {
        height: 400px;
        width: 400px;
        min-width: 250px;
        padding: 1.5rem;
        border-radius: 1rem;
        background: var(--gray);
        box-shadow: -1rem 0 3rem #00000086;
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        margin: 0;
        scroll-snap-align: start;
        clear: both;
        position: relative;
        color: var(--text-color);

        & p {
          font-size: 0.9rem;
        }

        & a {
          color: var(--background-black);
          background: var(--orange);
          padding: 0.5rem;
          text-align: right;
          border-radius: 0.7rem;
          text-decoration: none;
          font-weight: 700;
          transition: 0.5s;
          text-transform: uppercase;
        }

        & a:hover {
          background: var(--pink);
        }
      }

      & .my-project-card:focus-within ~ .my-project-card {
        transform: translateX(130px);
      }

      & .my-project-card:hover ~ .my-project-card {
        transform: translateX(130px);
      }

      & .my-project-card:hover {
        transform: translateY(-1rem);
      }

      & .my-project-card:not(:first-child) {
        margin-left: -120px;
      }
    }

    & .project-list::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }

    & .project-list::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }

    /* --------------------------------- */
    /* Carrusel para mis proyectos  */

    & .project-list::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }

    & .project-list::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }

    & .project-list::-webkit-scrollbar-thumb {
      background: linear-gradient(90deg, #ea604c80 40.97%, #d714f580 84.42%);
      border-radius: 0.7rem;
    }

    & .project-list::-webkit-scrollbar-track {
      background: #ffffff30;
      border-radius: 0.7rem;
    }
  }
}

/* --------------------------------------------------------------------------------------------------------- */
/* CONTACT SECTION */
/* --------------------------------------------------------------------------------------------------------- */

#contact {
  color: var(--text-color);
  position: relative;

  /* first article */
  & article.left {
    padding: 2rem;

    & h2 {
      font-weight: 300;
      margin-bottom: 2rem;

      & span {
        font-weight: 650;
        color: var(--pink);
        background: linear-gradient(
          -90deg,
          #ef7322 9.98%,
          #d714f5 25.54%,
          #ea604c 40.97%,
          #d714f5 55.18%,
          #f27d0b 72.75%,
          #d714f5 84.42%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  & p {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

& article.right {
  /* cards */
  & .social-net {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-opacity);
    text-align: right;
    vertical-align: middle;
    border-radius: var(--border-radius);
    margin-bottom: 3rem;

    & .red {
      padding: 1.5rem;
      border-right: solid #fff;
      width: 25%;
      text-align: center;

      & svg path {
        fill: var(--orange);
        color: var(--orange);
      }
    }

    & .content {
      width: 100%;
      border-radius: 0 1.3rem 1.3rem 0;
      padding: 1.5rem;
      background: linear-gradient(
        270deg,
        rgba(215, 20, 245, 0.17) 0.04%,
        rgba(231, 111, 0, 0.17) 99.15%
      );

      & a {
        color: var(--text-color);
        text-decoration: none;

        & h3 {
          font-weight: 400;
        }
      }
    }
  }
}

#contact::before {
  content: "";
  height: 900px;
  width: 900px;
  background: url(../img/back-blur.png);
  background-size: cover;
  position: absolute;
  z-index: -10;
  left: -215px;
  top: 0;
  animation: rotate infinite 50s ease-in-out;
  border-radius: inherit;
}

/* --------------------------------------------------------------------------------------------------------- */
/* FOOTER */
/* --------------------------------------------------------------------------------------------------------- */

footer {
  margin-top: 2rem;
  padding: 4rem;
  text-align: center;
  /* background: var(--background-opacity); */

  & p {
    color: var(--text-color);
    font-size: 1.5rem;
  }
}

#responsive-boton {
  padding: 1rem;
}

/* --------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE DESIGN */
/* --------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 985px) {
  body {
    overflow-x: hidden !important;
  }

  #header {
    & .all-offcanvas {
      background-color: var(--gray);
      width: 40%;
      border: none;
      padding: 2rem 1rem;

      & .my-offcanvas-header {
        background-color: var(--gray);
        color: var(--text-color);
        padding-left: 1rem;
        margin-bottom: 2rem;

        & h3 {
          font-style: oblique;
          font-weight: bolder;

          font-size: 2rem;
          margin-left: 0.5rem;
          padding-left: 1rem;
          border-left: 2px solid var(--pink);
        }

        & button.btn-close {
          background-color: var(--orange);
          opacity: 1;
        }
      }

      & .my-offcanvas {
        background-color: var(--gray);

        color: var(--text-color);
        padding-left: 1rem;

        & li > a {
          font-size: 2rem;
          padding: 1rem;
          margin-bottom: 2rem;
          border-left: 2px solid var(--orange);
        }
      }
    }

    & .my-hero {
      padding-top: 20%;
      #name {
        font-size: 5rem;
      }
    }
  }

  #header::before {
    height: 400px;
    width: 400px;
    background-size: contain;
    left: 2rem;
    top: 10rem;
  }

  #know-me::before {
    height: 500px;
    width: 500px;
    background-size: contain;
    transform: rotate(50deg);
    position: absolute;
    z-index: -10;
    right: -15px;
    top: 25rem;
  }

  #technologies {
    /* nesting */

    & h2 {
      padding-bottom: 3rem;
    }

    & .my-row {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 2vw 4vw;
      justify-items: center;
    }
  }

  #contact::before {
    height: 500px;
    width: 500px;
    background-size: contain;
    left: 0.6rem;
    top: 1;
  }

  #know-me {
    & h2,
    p {
      text-align: center;
    }

    & p {
      width: auto;
      word-wrap: normal;
    }

    & img {
      display: block;
      margin: 0 auto;
      width: 70%;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  body {
    position: relative;
    overflow-x: hidden;
  }

  #header {
    & .my-hero {
      #name {
        font-size: 3rem;
      }
    }
  }

  #technologies {
    /* nesting */

    & .my-row {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 2vw 5vw;
      place-items: center;
    }
  }

  #know-me::before {
    content: "";
    height: 400px;
    width: 400px;
    transform: rotate(50deg);
    top: 20px;
    right: 10px;
  }

  #contact::before {
    height: 400px;
    width: 400px;
    top: 0;
    left: 0;
  }

  #contact::before {
    height: 400px;
    width: 400px;
    background-size: contain;
    left: 0.6rem;
    top: 1;
  }

  @keyframes rotate {
    0% {
      transform: scale(1.3) translate(0) rotate(0deg) perspective(10px);
      border-radius: 150% 60% 80% 100%;
    }

    20% {
      transform: scale(1.15) translate(20%, 50px) rotate(60deg)
        perspective(1000px);
      border-radius: 73% 100% 82% 51%;
    }

    40% {
      transform: scale(1) translate(40%, -300px) rotate(90deg);
      border-radius: 50% 60% 80% 51%;
    }

    60% {
      transform: scale(0.8) translate(70%, -200px) rotate(150deg);
      border-radius: 100% 55% 90% 61%;
    }

    80% {
      transform: scale(1) translate(50%, -100px) rotate(200deg);
      border-radius: 50% 60% 80% 51%;
    }

    100% {
      transform: scale(1.5) translate(0) rotate(0deg);
      border-radius: 50% 60% 80% 51%;
    }
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 12px;
  }

  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }

  #header {
    & .all-offcanvas {
      width: 80%;
      right: 0;
      top: 0;

      & .my-offcanvas-header {
        background-color: transparent;
      }
    }

    & .my-hero {
      & #name {
        font-size: 3rem;
      }
    }
  }

  #header::before {
    height: 200px;
    width: 200px;
    top: 30%;
    left: 0;
  }

  #technologies {
    /* nesting */

    & .my-row {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      gap: 3vw;
      place-items: center;
    }
  }

  #know-me {
    text-align: center;
  }

  #know-me::before {
    background-size: contain;
    height: 200px;
    width: 200px;
    top: 20px;
    right: 10px;
  }

  #contact::before {
    background-size: contain;
    height: 200px;
    width: 200px;
    top: 10%;
    left: 0;
  }

  #contact::before {
    height: 200px;
    width: 200px;
    background-size: contain;
    left: 0.6rem;
    top: 1;
  }
}
